<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

  <link rel="icon" href="static/Norsk-Favicon-150x150.png" sizes="32x32">
  <link rel="icon" href="static/Norsk-Favicon.png" sizes="192x192">
  <link rel="apple-touch-icon" href="static/Norsk-Favicon.png">
  <link href="static/style.css" rel="stylesheet" />
  <title>Norsk</title>
  <script>
    function swap(source) {
      fetch("/switch/" + source, { method: "PUT" })
    }
  </script>

  <body class="bg-gray-50 dark:bg-gray-900 antialiased">
    <div class="bg-gray-50 dark:bg-gray-900 min-h-screen">
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          onclick="swap('camera1'); return false"
          >
        Camera 1
        </button>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          onclick="swap('camera2'); return false"
          >
          Camera 2
        </button>
      </div>
      <div class="absolute w-full h-full aspect-w-16 aspect-h-9">
        <iframe class="w-full h-full" frameBorder="0" src="<%= playerUrl %>"></iframe>
      </div>
    </div>
    <script src="static/flowbite.min.js" type="text/javascript">
    </script>
  </body>
</html>
